# Build/Run
build/**
libs/**
model/**
runner/*.zip

# Eclipse
**/.cproject
**/.project

# Terraform
**.tfstate*
**/.terraform*
**/*.tfvars

# Python
.pydevproject
postprocessing/pywfm/__pycache__/**

# Apple
**/.DS_Store

# Temporary stuff
docker_run.sh